<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    index.html - part of amtc-web, part of amtc
    https://github.com/schnoddelbotz/amtc
  -->
  <meta name="description" content="Intel AMT/vPro remote power Management">
  <meta name="author" content="schnoddelbotz">
  <link rel="shortcut icon" type="image/x-icon" href="amtc-favicon.png" />
  <title>amtc-web - AMT/DASH remote power management</title>
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/amtc-web.css" rel="stylesheet">
</head>
<body>

<!-- startup splash screen -->
<div id="backdrop" class="modal-backdrop fade in"></div>
<div class="modal fade in" id="splash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display:block">
  <div class="modal-dialog">
    <div class="modal-content" style="text-align:center; margin:20px; font-size:8em; background-color:transparent; border:0; box-shadow:none; text-shadow: 2px 2px #444;">
        <span style="color:white; font-weight:bold">amtc</span><br>
        <div class="modal-body" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x grey"></i>
            <i class="fa fa-bolt fa-fw fa-stack-1x flash"></i>
          </span>
        </div>
        <span style="color:white; font-weight:bold">web</span>
    </div>
  </div>
</div>
