{{! Display a single OU edit form using partial _optionsetEdit }}
  {{! Display a single OU }}
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Edit Optionset <b>{{model.name}}</b></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    {{partial "optionsetEdit"}}
    <div id="editbutton">
      <button {{action "removeOptionset"}} class="btn btn-default"><span class="fa fa-trash"></span> Delete Option set</button>
      <button class="btn btn-default" {{action 'doneEditingReturn'}}><span class="fa fa-save"></span> Save and return</button>
      {{#if isDirty}}<span class="label label-danger">unsaved changes</span>{{/if}}
    </div>
  </div>
</div>
