{{! Display a single scheduler item }}
  {{! Display a single OU }}
<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Edit Job {{model.description}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    {{partial "scheduleEdit"}}
    <div id="editbutton">
      <button {{action "removeSchedule"}} class="btn btn-default"><span class="fa fa-trash"></span> Delete Job</button>
      <button class="btn btn-default" {{action 'doneEditingReturn'}}><span class="fa fa-save"></span> Save and return</button>
      {{#if isDirty}}<span class="label label-danger">unsaved changes</span>{{/if}}
    </div>
  </div>
</div>
