<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">System health</h1>
      <button {{action 'refresh'}}>Refresh</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3>system status</h3>
    <dl>
      <dt>Uptime, load average</dt>
      <dd>{{model.systemhealth.uptime}}</dd>

      <dt>Disk free</dt>
      <dd>{{model.systemhealth.diskfree}}</dd>

      <dt>amtc-web log size</dt>
      <dd>{{model.systemhealth.logsize}}</dd>

      <dt>amtc-web log last entry</dt>
      <dd>{{format-from-now model.systemhealth.logmodtime}}</dd>

      <dt>Server date and time</dt>
      <dd>{{model.systemhealth.datetime}}</dd>
    </dl>
  </div>

  <div class="col-lg-6">
    <h3>database and process status</h3>
    <dl>
      <dt>Monitoring task last started</dt>
      <dd>{{format-from-now model.systemhealth.lastmonitoringstarted}}</dd>

      <dt>Monitoring task last completed</dt>
      <dd>{{format-from-now model.systemhealth.lastmonitoringdone}}</dd>

      <dt>Active jobs according to DB</dt>
      <dd>{{model.systemhealth.activejobs}}</dd>

      <dt>Active amtc processes</dt>
      <dd>{{model.systemhealth.activeprocesses}} (notyet)</dd>

      <dt>Monitoring log entries</dt>
      <dd>{{model.systemhealth.monitorcount}}</dd>
    </dl>
    <button {{action 'resetMonitoringJob'}}>Reset monitoring job status</button>
    <button {{action 'flushStatelog'}}>Flush host state log</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h3>amtc-web javascript library versions</h3>
    <dl>
     <dt>EmberJS</dt>     <dd>{{Ember.VERSION}}</dd>
     <dt>Ember Data</dt>  <dd>{{DS.VERSION}}</dd>
     <dt>jQuery</dt>      <dd>{{$.fn.jquery}}</dd>
    </dl>
  </div>

  <div class="col-lg-6">
    <h3>server versions</h3>
    <dl>
     <dt>PHP</dt>          <dd>{{model.systemhealth.phpversion}}</dd>
     <dt>amtc binary</dt>  <dd>{{model.systemhealth.amtcversion}}</dd>
    </dl>
  </div>
</div>