
amtc-web2/js/*.js
amtc-web2/css/*.css

amtc-web2/basic-auth/.htaccess
amtc-web2/config/.htpasswd
amtc-web2/config/siteconfig.php
amtc-web2/data/amtc-web.db

amtc-web2/fonts/
amtc-web2/css/plugins/
amtc-web2/js/plugins/
amtc-web2/lib/Slim/

amtc-web2/lib/idiorm.php
amtc-web2/lib/paris.php

amtc-web2/css/styles.css.gz
amtc-web2/index.html.gz
amtc-web2/js/jslibs.js.gz

src/amt.h
src/amtc
src/amtc_usage.h
src/cmd_*.h
src/wsman_*.h

releases/
