
Distribution.xml
*.pkg

amtc-web/js/*.js
!amtc-web/js/compile-template.js
amtc-web/css/*.css

amtc-web/basic-auth/.htaccess
amtc-web/config/.htpasswd
amtc-web/config/siteconfig.php
amtc-web/data/amtc-web.db
amtc-web/data/amtc-*.log

amtc-web/fonts/
amtc-web/css/plugins/
amtc-web/js/plugins/
amtc-web/lib/Slim/

amtc-web/lib/idiorm.php
amtc-web/lib/paris.php

amtc-web/css/styles.css.gz
amtc-web/index.html*
amtc-web/js/jslibs.js.gz

src/amt.h
src/amtc
src/amtc_usage.h
src/cmd_*.h
src/wsman_*.h

releases/
osxpkgroot/
osxpkgscripts/
dist/
