/*
 * amtc-web.css - part of amtc-web
 *
 * included as the last .css, overrides templates used.
 *
 */

/* EmberJS-generated navbar menu items would use hair otherwise */
.pointer, div.sidebar-nav ul li a { cursor: pointer; }

ul.nav.ember-view {
  padding-left: 20px;
}

ul.nav li.is-selected {
    background:#eee;
}

/* increase header height for 'logo' */
div.sidebar { margin-top: 60px; }
.navbar-header { padding-bottom: 10px; }
a.navbar-brand { padding-top: 10px;}
.lightgrey { color:#ececec; }

/* amtc-web1 CSS for hosts */
/* hosts in live viewmode */
#hosts {
  border:1px solid #eee; margin:5px 0px; padding:15px;
}
.pc  {
  width:130px; float:left; margin:0px 5px 5px 0px; padding:2px; overflow:hidden;
  box-shadow: 2px 2px 3px #ccc;
  cursor:pointer;
}
#hosts .ui-selecting {
  background:black; color:gray;
}
#hosts .ui-selected, .isActive  {
  background:black; color:white;
}
.addr { 
  font-weight:bold; margin:0; 
}


/* 
 *  Implements the flashing bolt
 *  http://stackoverflow.com/questions/275931/how-do-you-make-an-element-flash-in-jquery
 *  Any server request should time out after a minute, so don't flash longer than that
 */
.grey { color:#666; }

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 60;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 60;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 60;
}
@-webkit-keyframes flash {
    0% { color:black;}
    1% { color:yellow;}
    5% { color:black;}
    20% { color:yellow;}
    22% { color:black;}
    50% { color:yellow; font-size:1.5em;}
    55% { color:black;}
    85% { color:yellow;}
    90% { color:black;}
    91% { color:yellow;}
    92% { color:black;}
    93% { color:yellow;}
    94% { color:black;}
    95% { color:yellow;}
    96% { color:black;}
    97% { color:yellow;}
    100% {color:black;}
}
@-moz-keyframes flash {
    0% { color:black;}
    1% { color:yellow;}
    5% { color:black;}
    20% { color:yellow;}
    22% { color:black;}
    50% { color:yellow; font-size:1.5em;}
    55% { color:black;}
    85% { color:yellow;}
    90% { color:black;}
    91% { color:yellow;}
    92% { color:black;}
    93% { color:yellow;}
    94% { color:black;}
    95% { color:yellow;}
    96% { color:black;}
    97% { color:yellow;}
    100% {color:black;}
}
@-ms-keyframes flash {
    0% { color:black;}
    1% { color:yellow;}
    5% { color:black;}
    20% { color:yellow;}
    22% { color:black;}
    50% { color:yellow; font-size:1.5em;}
    55% { color:black;}
    85% { color:yellow;}
    90% { color:black;}
    91% { color:yellow;}
    92% { color:black;}
    93% { color:yellow;}
    94% { color:black;}
    95% { color:yellow;}
    96% { color:black;}
    97% { color:yellow;}
    100% {color:black;}
}
/* /bolt */
