<div class="row">
  <div class="col-lg-12">
    <form id="ouEditForm">
     <fieldset>
        <div class="form-group">
          <label for="name">OU / room name</label>
          {{input class="form-control" type="text" value=model.name insert-newline="doneEditingReturn"}}
          <p class="help-block">e.g. D 23.2</p>
        </div>
        <div class="form-group">
          <label for="description">OU description</label>
          {{input class="form-control" type="text" value=model.description insert-newline="doneEditingReturn"}}
          <p class="help-block"></p>
        </div>
        <div class="form-group">
          <label for="optionset">Parent OU</label>
          {{#if controllers.ous.ous.content}}
            {{my-select
              content=controllers.ous.ous.content
              action=(action (mut model.parent_id))
              selection=model.parent_id
              prompt="Choose OU"
              optionValuePath="id"
              optionLabelPath="name"
            }}
          {{/if}}
          <p class="help-block">Choose the parent OU (or "folder") for this room</p>
        </div>
        <div class="form-group">
          <label for="optionset">AMT option set</label>
          {{#if controllers.optionsets.optionsets.content}}
            {{my-select
              content=controllers.optionsets.optionsets.content
              action=(action (mut model.optionset_id))
              selection=model.optionset_id
              prompt="Choose AMT Option set"
              optionValuePath="id"
              optionLabelPath="name"
            }}
          {{/if}}
          <p class="help-block">Optionsets may be created ...here... They will NOT be inherited.</p>
        </div>
        <div class="form-group">
          <label for="description">PC idle power rating</label>
          {{input class="form-control" type="text" value=model.idle_power insert-newline="doneEditingReturn"}}
          <p class="help-block">Provide idle power rating to allow generation of approximate energy consumption charts</p>
        </div>
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=model.logging}} Allow PC state logging via scheduler
          </label>
        </div>
     </fieldset>
    </form>
    <div class="clearboth"></div><br>
    {{#unless isNew}}
    <div id="editbutton">
      <button {{action "removeOu"}} class="btn btn-default"><span class="fa fa-trash"></span> Delete OU</button>
        <!-- fixme use #if isDirty, currently breaks with drop downs... why? -->
        <button class="btn btn-default" {{action 'doneEditingReturn'}}><span class="fa fa-save"></span> Save and return</button>
        {{#if isDirty}}<span class="label label-danger">unsaved changes</span>{{/if}}
    </div>
    {{/unless}}
  </div>
</div>
