<div class="row">
  <div class="col-lg-12" id="daychooser">
    {{#if controllers.logdays.logdays}}
      {{view Ember.Select content=controllers.logdays.logdays.content
                          class="form-control"
                          value=selectedDay
                          selection=selectedDayX
                          prompt="Choose day"
                          optionValuePath="content.dayUnixStart"
                          optionLabelPath="content.dayString" }}
    {{/if}}
  </div>
</div>
<p></p>
<div class="row">
  <div class="col-lg-12">
    {{#if controllers.hosts.hosts}}
     {{#if controller.logdata}}
      {{#each controller.model.hosts as |host|}}
          {{state-log host=host logdata=logdata}}
      {{/each}}
     {{/if}}
    {{else}}
        No hosts found in this room.
    {{/if}}
  </div>
</div>