<div class="row">
  <div class="col-lg-12">
    {{#if controllers.logdays.logdays}}
      {{my-select
        content=controllers.logdays.logdays.content
        selection=selectedDay
        action=(action 'selectLogday')
        prompt="Choose day"
        optionValuePath="dayUnixStart"
        optionLabelPath="dayString"
      }}
    {{/if}}
  </div>
</div>
<p></p>

<div class="row">
  <div class="col-lg-12 logs">
    <svg width="1440" height="12" preserveAspectRatio="none" viewBox="0 0 1440 12" style="width: 100%; max-width:1440px; height: auto;">
      <rect style="fill: transparent; stroke: #aaa;" height="12" width="1440" />
      {{#each dayHours as |hour|}}
        <rect x="{{hour.posX}}" y="1" width="59" height="18" style="stroke-width: 1; fill: #eee;"/>
        <text x="{{hour.textX}}" y="10" style="font-size:10px;">
          {{hour.hour}}:00
        </text>
      {{/each}}
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 logs">
    {{#if controllers.hosts.hosts}}
      {{#if logdata}}
        {{#each model.hosts as |host|}}
          {{state-log host=host logdata=logdata selectedDay=selectedDay}}
        {{/each}}
      {{else}}
       <h4>No logs found (or no day selected).</h4>
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
      <p></p>
      <p id="hselect" class="nopointer">
        <div id="S_ssh"  class="S0 ssh pc"><i class="fa fa-fw fa-linux"></i> SSH</div>
        <div id="S_rdp"  class="S0 rdp pc"><i class="fa fa-fw fa-windows"></i> RDP</div>
        <div id="S_none" class="S0 none pc"><i class="fa fa-fw fa-ban red"></i> No OS</div>
        <div id="S_S3"   class="S3 pc"><i class="fa fa-fw fa-bed"></i> sleep</div>
        <div id="S_S4"   class="S4 pc"><i class="fa fa-fw fa-rocket"></i> hibernate</div>
        <div id="S_S5"   class="S5 pc"><i class="fa fa-fw fa-power-off"></i> soft-off</div>
        <div id="S_S16"  class="S16 pc" style="background:#d9534f"><i class="fa fa-fw fa-ban"></i> no reply</div>
      </p>
  </div>
</div>
