{{#if node.hasChildren}}
  <li {{action "toggleExpanded"}}>
    <a href="#">
      {{#if node.isExpanded}}
        <i class="fa fa-folder-open-o" {{action "toggleExpanded"}}></i>
      {{else}}
        <i class="fa fa-folder-o" {{action "toggleExpanded"}}></i>
      {{/if}}
      {{node.name}}
    </a>
  </li>
{{else}}
  <li {{action "selectNode" node}} class={{isSelected}}>
    {{#link-to 'ou.monitor' node}}{{node.name}}{{/link-to}}
  </li>
{{/if}}

{{#if node.isExpanded}}
  {{#each node.children as |child|}}
    <ul class="nav ember-view">
      {{tree-menu-node node=child action="selectNode" selectedNode=selectedNode}}
    </ul>
  {{/each}}
{{/if}}
