/*
 * amtc-web.css - part of amtc-web
 *
 * included as the last .css, overrides templates used.
 *
 */

/* EmberJS-generated navbar menu items would use hair otherwise */
a, .pointer { cursor: pointer; }
ul.nav.ember-view {
  padding-left: 20px;
}
ul.nav li.is-selected {
  background:#eee;
}

p.errDetails {
  font-size:0.7em;
  background:#ddd;
  color:red;
}

/* increase header height for 'logo' */
@media(min-width:768px) {
  .sidebar { margin-top: 60px; }
}
.brand { color:#f16830; font-weight:bold }
.sidebar-nav { margin-top: 10px; }
.navbar-header { padding-bottom: 10px; }
a.navbar-brand { padding-top: 10px; }
.lightgrey { color:#ececec; }
.red { color:red; }

/* #/setup */
#phptests { padding-left:5px; margin-bottom:5px;}
#phptests li { list-style: none; padding:0;}

/* #/ou/ID/monitor */
/* amtc-web1 CSS for hosts -- hosts in live viewmode */
#ctrl {clear:both; padding-top:10px;}
#hselect { font-size:0.8em;}
#livectrl { margin-top:30px;}
ul.viewmode {
  margin-bottom:30px;
  margin-top:30px;
  float:right;
  font-size:0.8em;
}
ul.viewmode li a {
  color: black;
  border:1px solid #ccc;
}
ul.viewmode li.active a, ul.viewmode li.active a:hover {
  background: #aaa;
}

#addHostsPreview {
  background-color: #efefef;
  width:100%;
  min-height:100px;
  padding:5px;
  border:1px solid black;
}
.pc.preview {
  font-size:11px;
  width:auto;
  min-width:100px;
  min-height:17px;
  padding-left:2px;
  padding-right:2px;
  border:1px solid #aea;
}
/*
ul.viewmode li.active a:hover {
  background: black;
}
*/
#hosts {
  border:0px solid #eee; margin:0px 0px; padding:0px;
  margin-left:15px;
  margin-top:10px;
}
.pc  {
  width:140px; float:left; margin:0px 5px 5px 0px; padding:0px; overflow:hidden;
  box-shadow: 2px 2px 3px #ccc;
  cursor:pointer;
}
.pc .hostname {
  font-weight:bold;
  font-size:12px;
  padding-left:5px;
}
.pc .porticon {
  float:right;
  padding-right:5px;
  opacity: 0.7;
}
.pc .message {
  font-size:11px;
  padding-right: 5px;
  padding-left: 5px;
  color:#555;
}
.nopointer .pc {
  cursor:default;
}

#hosts .ui-selecting, #cfghosts .ui-selecting {
  background:black; color:gray;
}
#hosts .ui-selected, #cfghosts .ui-selected, .isActive  {
  background:black; color:white;
}
.addr {
  font-weight:bold; margin:0;
}
#hselect div {
  margin-right:5px;
  margin-top:10px;
  border-radius:5px;
  padding:5px;
  border:1px solid #aaa;
  width:80px;
  display:block;
  float:left;
  background-repeat:no-repeat;
  box-shadow: 3px 3px 4px #aaa;
}
/* ACPI power states */
.S0      { background:#9c9; } /* on */
.S3,.a3  { background:orange; } /* sleep (suspend-to-ram) */
.S4,.a4  { background:#aae; } /* hibernate (suspend-to-disk) */
.S5,.a5  { background:#aaa; } /* soft-off */
.S16,.a16 { background:#e9635f; } /* #d9534f;*/ /* no amt reply -- disables any OS scan, too */
.S0.none { background:yellow; }
.S0.rdp  { background:#5cb85c;}
.S0.ssh  { background:#63aae7;}

/* log view now done via morris.js ??? */
div.logs div {
  margin-top:1px;
  margin-bottom:0px;
  padding:0;
  max-height:11px;
}
/* tbd */

/*
 *  Implements the flashing bolt
 *  http://stackoverflow.com/questions/275931/how-do-you-make-an-element-flash-in-jquery
 *  Any server request should time out after a minute, so don't flash longer than that
 */
.grey { color:#666; }

.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 60;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 60;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 60;
}
@media screen and (min-device-width: 1280px) {
  /* the animation breaks the app on iOS 8 :-(
     as hack, only enable for 1280px+ screens. */
  @-webkit-keyframes flash {
    0% { color:black;}
    1% { color:yellow;}
    5% { color:black;}
    20% { color:yellow;}
    22% { color:black;}
    50% { color:yellow; font-size:1.5em;}
    55% { color:black;}
    85% { color:yellow;}
    90% { color:black;}
    91% { color:yellow;}
    92% { color:black;}
    93% { color:yellow;}
    94% { color:black;}
    95% { color:yellow;}
    96% { color:black;}
    97% { color:yellow;}
    100% {color:black;}
  }
}
@-moz-keyframes flash {
    0% { color:black;}
    1% { color:yellow;}
    5% { color:black;}
    20% { color:yellow;}
    22% { color:black;}
    50% { color:yellow; font-size:1.5em;}
    55% { color:black;}
    85% { color:yellow;}
    90% { color:black;}
    91% { color:yellow;}
    92% { color:black;}
    93% { color:yellow;}
    94% { color:black;}
    95% { color:yellow;}
    96% { color:black;}
    97% { color:yellow;}
    100% {color:black;}
}
@-ms-keyframes flash {
    0% { color:black;}
    1% { color:yellow;}
    5% { color:black;}
    20% { color:yellow;}
    22% { color:black;}
    50% { color:yellow; font-size:1.5em;}
    55% { color:black;}
    85% { color:yellow;}
    90% { color:black;}
    91% { color:yellow;}
    92% { color:black;}
    93% { color:yellow;}
    94% { color:black;}
    95% { color:yellow;}
    96% { color:black;}
    97% { color:yellow;}
    100% {color:black;}
}
/* /bolt */
